<div class="clearfix faStatsBody">
  <div class="faStatBody" data-stat="name"><%= model.name %></div>
  <div class="faStatBody" data-stat="movement"><%= model.movement %>"</div>
  <div class="faStatBody" data-stat="weaponSkill"><%= model.weapon_skill %>+</div>
  <div class="faStatBody" data-stat="ballisticSkill"><%= model.ballistic_skill %>+</div>
  <div class="faStatBody" data-stat="strength"><%= model.strength %></div>
  <div class="faStatBody" data-stat="toughness"><%= model.toughness %></div>
  <div class="faStatBody" data-stat="wounds"><%= model.wounds %></div>
  <div class="faStatBody" data-stat="attacks"><%= model.attacks %></div>
  <div class="faStatBody" data-stat="leadership"><%= model.leadership %></div>
  <div class="faStatBody" data-stat="save"><%= model.armour_save %></div>
  <div class="faStatBody" data-stat="points"></div>
</div>
