<%= form_for @weapon do |f| %>
  <div class="field">
    <%= f.label :name, class: "label" %>
    <div class="control">
      <%= f.text_field :name, class: "input", placeholder: "Title" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :movement, class: "label" %>
    <div class="control">
      <%= f.number_field :movement, class: "input", placeholder: "Range" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :weapon_skill, class: "label" %>
    <div class="control">
      <%= f.text_field :weapon_skill, class: "input", placeholder: "Title" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :ballistic_skill, class: "label" %>
    <div class="control">
      <%= f.number_field :ballistic_skill, class: "input", placeholder: "Title" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :strength, class: "label" %>
    <div class="control">
      <%= f.number_field :strength, class: "input", placeholder: "Title" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :toughness, class: "label" %>
    <div class="control">
      <%= f.number_field :toughness, class: "input", placeholder: "Title" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :wounds, class: "label" %>
    <div class="control">
      <%= f.text_field :wounds, class: "input", placeholder: "Title" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :attacks, class: "label" %>
    <div class="control">
      <%= f.text_field :attacks, class: "input", placeholder: "Title" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :leadership, class: "label" %>
    <div class="control">
      <%= f.text_field :leadership, class: "input", placeholder: "Title" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :save, class: "label" %>
    <div class="control">
      <%= f.text_field :save, class: "input", placeholder: "Title" %>
    </div>
  </div>
  <%= f.submit "Create Model", class: "button is-large", type: "submit"%>
</div>
<% end %>
