<%= form_for @weapon do |f| %>
  <div class="field">
    <%= f.label :weapon_name, class: "label" %>
    <div class="control">
      <%= f.text_field :weapon_name, class: "input", placeholder: "Name" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :weapon_range, class: "label" %>
    <div class="control">
      <%= f.number_field :weapon_range, class: "input", placeholder: "Range" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :weapon_type, class: "label" %>
    <div class="control">
      <%= f.text_field :weapon_type, class: "input", placeholder: "Type" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :weapon_strength, class: "label" %>
    <div class="control">
      <%= f.number_field :weapon_strength, class: "input", placeholder: "Strength" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :armour_piercing, class: "label" %>
    <div class="control">
      <%= f.number_field :armour_piercing, class: "input", placeholder: "AP" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :weapon_damage, class: "label" %>
    <div class="control">
      <%= f.number_field :weapon_damage, class: "input", placeholder: "Damage" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :weapon_ability, class: "label" %>
    <div class="control">
      <%= f.text_field :weapon_ability, class: "input", placeholder: "Ability" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :points, class: "label" %>
    <div class="control">
      <%= f.number_field :points, class: "input", placeholder: "Points Cost" %>
    </div>
  </div>
  <%= f.submit "Create Weapon", class: "button is-large", type: "submit"%>
</div>
<% end %>
