<div class="clearfix faWpnsBody">
  <div class="faWpnBody" data-stat="weapon"><%= weapon.weapon_name %></div>
  <div class="faWpnBody" data-stat="range"><%= weapon.weapon_range %>"</div>
  <div class="faWpnBody" data-stat="type"><%= weapon.weapon_type %></div>
  <div class="faWpnBody" data-stat="strength"><%= weapon.weapon_strength %></div>
  <div class="faWpnBody" data-stat="armorPiercing"><%= weapon.armour_piercing %></div>
  <div class="faWpnBody" data-stat="damage"><%= weapon.weapon_damage %></div>
  <div class="faWpnBody" data-stat="abilities"><%= weapon.weapon_ability %></div>
  <div class="faWpnBody" data-stat="points"></div>
</div>

