<%= form_for @unit do |f| %>
  <div class="field">
    <%= hidden_field_tag(:"page[user_id]", current_user.id) %>
    <div class="field">
      <%= f.label :name, class: "label" %>
      <div class="control">
        <%= f.text_field :name, class: "input", placeholder: "Unit Name" %>
      </div>
    </div>
    <div class="field">
      <%= f.label :composition, class: "label" %>
      <div class="control">
        <%= f.text_field :composition, class: "input", placeholder: "Unit Composition" %>
      </div>
    </div>
    <%= f.label :model_ids, value: "Model" %>
    <div class="control">
      <%= f.collection_check_boxes :model_ids, Model.all, :id, :name %>
      <%= f.fields_for :models, unit.models.build do |models_fields| %>
      <% end %>
    </div>
  </div>
  <div class="field">
    <%= f.label :faction_keyword_ids, value: "faction_keyword (pick one or add a new one)" %>
    <div class="control">
      <%= f.collection_check_boxes :faction_keyword_ids, FactionKeyword.all, :id, :name %>
      <%= f.fields_for :faction_keywords, unit.faction_keywords.build do |faction_keywords_fields| %>
      <% end %>
    </div>
  </div>
  <div class="field">
    <%= f.label :ability_ids, value: "ability (pick one or add a new one)" %>
    <div class="control">
      <%= f.collection_check_boxes :ability_ids, Ability.all, :id, :name %>
      <%= f.fields_for :abilities, unit.abilities.build do |abilities_fields| %>
      <% end %>
    </div>
  </div>
  <div class="field">
    <%= f.label :wargear_option_ids, value: "wargear_option (pick one or add a new one)" %>
    <div class="control">
      <%= f.collection_check_boxes :wargear_option_ids, WargearOption.all, :id, :option %>
      <%= f.fields_for :wargear_options, unit.wargear_options.build do |wargear_options_fields| %>
      <% end %>
    </div>
  </div>
  <%= f.submit "Create Unit", class: "button is-large", type: "submit"%>
<% end %>
